
.img
{
	width:100%;
}
.block
{
  width:25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:15px; 
  margin-left:15px;  
}

.txt 
{
  text-align: center;
  padding-bottom:10px;
}
.red
{
	color:red;
	font-size:110%;
	
}
.black
{
	color:black;
	font-size:110%;
	
}
.grey
{
	color:grey;
	font-size:70%;
}
.flex
{
	display:flex;
	
}
.right
{
	
margin-top:300px;
}
.others
{
	display:grid;
}
.others
{
	margin:300px;
}
.other
{
  background-color:white;
  border: none;
  color: #BDC3C7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;	
}
.a
{
	text-decoration:none;
	color:#blue;
}
a:hover
{
	color:grey;
}
.b
{
	text-decoration:none;
	color:grey;
}
.boutton
{
	background-color:grey;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;	
  color:white;
}
.h1
{
	margin-bottom:60px;
	font-size:300%;
	color:#18689D;
}
#head 
{
	margin-top:30px;
	margin-right:30px;
}
.c
{
	text-decoration: none;
}
.boutton:hover
{
	background-color:#18689D;
}
#header
{
	background-color:white;
	margin:5px;
	padding:10px;
	display:flex;
	justify-content:space-between;
	
}